# Node modules
node_modules

# Environment variables (except backend/.env which we need)
.env
.env.local
.env.development
.env.test
.env.production
!backend/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist
build

# Git related
.git
.gitignore

# Docker related
Dockerfile*
docker-compose*
.dockerignore

# IDE related
.idea
.vscode
*.sublime-*

# Other
.DS_Store
*.md
LICENSE
